.Cards {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 60vw;
  border: 2px solid black;
  margin: 20px auto;
  padding: 20px;
  background-color: #f8f8f8;
  height: 300px;
}
